<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olsen.andy.kingsforgecalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- TODO: Preferences made me move up to 11... investigate enabling older versions later -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.olsen.andy.kingsforgecalc.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.olsen.andy.kingsforgecalc.RerollDialog"
            android:label="Reroll"
            android:screenOrientation="portrait"
            android:parentActivityName="com.olsen.andy.kingsforgecalc.MainActivity" >
        </activity>
        <activity
            android:name="com.olsen.andy.kingsforgecalc.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
